.navbar-nav {
  width: 100%;
  padding-right: 5%;
}
.navbar-logo{
  margin:auto;
  color: #ffffff;
}
.fa-instagram:before{
  font-size: 25px;
  padding-left: 10px;
}

.fa-facebook-square:before{
  font-size: 26px;
  padding-left: 15px;
}

.fa-shopping-cart:before{
  font-size: 25px;
  padding-right: 10px;
}

.hiddenBox{
  visibility:hidden;
  padding-right: 10px;
}

.icon-link, .icon-link:hover{
  color: black;
}

#lblCartCount {
  font-size: 15px;
  background: #efb270;
  color: #000000;
  padding: 0 5px;
  vertical-align: top;
}
.badge {
  padding-left: 9px;
 padding-right: 9px;
 -webkit-border-radius: 9px;
 -moz-border-radius: 9px;
 border-radius: 9px;
}

.border-bottom{
  border-width:0.5px !important;
}
.brodboden_icon{
  height: 90px;
  width: 200px;
}

.fa-facebook, .fa-facebook-square, .fa-instagram, .fa-shopping-cart {
    color: #efb270
}
.nav-link{
    font-weight:500;
    font-size: 17pt;
}
.bg{
  background-color: #141110;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8d7b3;
}

.navbar-dark
.navbar-nav
.active>
.nav-link,
.navbar-dark
.navbar-nav
.nav-link.active,
.navbar-dark
.navbar-nav
.nav-link.show,
.navbar-dark
.navbar-nav
.show>.nav-link {
  color:#efb270;
}

.fadeOut{
   opacity: 0;
}
.fadeIn{
  opacity: 1;
  transition: opacity 0.25s ease;
}
